.horizonscroll {
    float: left;
    height: auto;
    width: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    background-size: cover;
}

@media screen and (max-height: 768px){
    .scene1 {    
        content:url("../img/ipadbg2.jpg");
    }
    .car {
        content:url("../img/Arrons-car-animated-vtiny.gif");
    }
    #clip1 {
        height: 760px;
    }
    #clip2 {
        height: 760px;
    }
}
/*@media screen and (max-height: 1000px){
    .scene1 {    
        content:url("../img/bg1000.jpg");
    }
    .car {
        content:url("../img/Arrons-car-animated-vtiny.gif");
    }
}*/ 
@media screen and (max-height: 1700px){
    .car {
        content:url("../img/Arrons-car-animated-tiny.gif");
    }
}


/*.scene2 {
    float: left;
    height: 100%;
    
    
}*/
