.horizonscroll {
    float: left;
    height: 100%;
    width: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    background-size: cover;
}

/*@media screen and (max-height: 800px){
    .scene1 {    
        content:url("../img/bg800-long.jpg");
    }
    .car {
        content:url("../img/Arrons-car-animated-vtiny.gif");
    }
}
@media screen and (max-height: 1000px){
    .scene1 {    
        content:url("../img/bg1000-long.jpg");
    }
    .car {
        content:url("../img/Arrons-car-animated-vtiny.gif");
    }
}
@media screen and (max-height: 1700px){
    .car {
        content:url("../img/Arrons-car-animated-tiny.gif");
    }
}


/*.scene2 {
    float: left;
    height: 100%;
    
    
}*/
